<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Jack_Cms>
            <variable>
                <apiDomain>m2.org</apiDomain>
                <ossDomain></ossDomain>
                <showHeaderFooter>false</showHeaderFooter>
                <dialogVisible>false</dialogVisible>
                <pcDialogVisible>false</pcDialogVisible>
                <tagWindow>22%</tagWindow>
                <showWindow>38%</showWindow>
                <editWindow>40%</editWindow>
                <mediaType>h5</mediaType>
                <uploadUrl></uploadUrl>
                <pageSource></pageSource>
                <screenSize>375</screenSize>
            </variable>
            <setting>
                <displayAllType>true</displayAllType>
                <url></url>
            </setting>
            <configuration>
                <group>
                    <text>
                        <name>text</name>
                        <lable>文本模块</lable>
                        <sort>10</sort>
                    </text>
                    <image>
                        <name>image</name>
                        <lable>图片模块</lable>
                        <sort>20</sort>
                    </image>
                    <swiper>
                        <name>swiper</name>
                        <lable>轮播模块</lable>
                        <sort>30</sort>
                    </swiper>

                </group>
            </configuration>
            <children>
                <text>
                    <icon_title>icon_title</icon_title>
                </text>
                <image>
                    <image>image</image>
                    <multi_image>multi_image</multi_image>
                    <hot_map>hot_map</hot_map>
                    <image_map>image_map</image_map>
                </image>
                <swiper>
                    <swiper>swiper</swiper>
                    <swiper_horizontal>swiper_horizontal</swiper_horizontal>
                </swiper>
            </children>
            <tags>
                <icon_title>
                    <tag>icon_title</tag>
                    <name>文字</name>
                    <title>娇兰与艺术</title>
                </icon_title>
                <image>
                    <tag>image</tag>
                    <name>单图组件</name>
                    <src>
                        <pc>/cms/upload/demo/image/pc.jpg</pc>
                        <h5>/cms/upload/demo/image/h5.jpg</h5>
                    </src>
                    <action>false</action>
                </image>
                <swiper>
                    <tag>swiper</tag>
                    <name>轮播</name>
                    <nodes>false</nodes>
                    <height></height>
                    <columns>false</columns>
                </swiper>
                <hot_map>
                    <tag>hot_map</tag>
                    <name>一图多热区</name>
                    <src>/cms/upload/demo/h5.png</src>
                    <hots>false</hots>
                    <action>false</action>
                </hot_map>
                <multi_image>
                    <tag>multi_image</tag>
                    <name>多图组件</name>
                    <nodes>false</nodes>
                    <height></height>
                    <columns>false</columns>
                </multi_image>
                <image_map>
                    <tag>image_map</tag>
                    <name>一图多链接</name>
                    <src>
                        <pc>/cms/upload/demo/pc.png</pc>
                        <h5>/cms/upload/demo/h5.png</h5>
                    </src>
                    <rows>1</rows>
                    <columns>5</columns>
                    <height>200</height>
                    <action>false</action>
                </image_map>
                <swiper_horizontal>
                    <tag>swiper_horizontal</tag>
                    <name>左右滑动</name>
                    <nodes>false</nodes>
                    <height></height>
                    <width>30%</width>
                </swiper_horizontal>
            </tags>
        </Jack_Cms>
    </default>
</config>



